.home-container {
  display: flex;
}

.home-container .btn {
  border: none;
  height: 150px;
  width: 150px;
  margin: 15px;
  padding: 32px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.5s;
}

.home-container .btn:hover {
  font-size: 20px;
  font-weight: 400;
}

.blue {
  background-color: #1976d2;
}

.blue:hover {
  background-color: #03a9f4;
}

.teal {
  background-color: #00796b;
}

.teal:hover {
  background-color: #009688;
}

.green {
  background-color: #388e3c;
}

.green:hover {
  background-color: #4caf50;
}

.yellow {
  background-color: #ffc107;
}

.yellow:hover {
  background-color: #ffeb3b;
}
